@font-face {
    font-family: 'terminalmedium';
    src: url(fonts/Terminal.ttf);
        url('terminal-webfont.woff2') format('woff2'),
         url('terminal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body{
    margin: 0;
    font-family: 'terminalmedium';
    background-color: rgb(18,4,88);
}

#box{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2{
    margin: 0;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 400px;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    padding: 10px 20px 30px 20px;
    gap: 5px;
    height: 450px;
    border-radius: 10px;
    background-color:rgb(122,4,235);
    margin-bottom: 10px;
}

.row{
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.top{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.logo{
    width: 30px;
    height: 30px;
}

.solar-pannel{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 40px;
    background-color: black;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
    border-width: 0.05px;
}

.section{
    display: flex;
    flex-grow: 1;
    border-style: solid;
    border-color: gray;
    border-width: 0.05px;
}

.instructions{
    display: flex;
    justify-content: center;
    color: white;
    font-size: small;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    margin-bottom: 10px;
}

.display{
    display: flex;
    align-items: center;
    width: 100%;
    height: 1000px;
    border-style: solid;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 5px;
    font-size: xx-large;
    border-radius: 10px;
    background-color: rgb(255,0,160);
}

.inner-display{
    display: flex;
    flex-grow: 0.9; 
    justify-content: flex-end;
    align-items: center;
    border-style: solid;
    height: 50%;
    padding-right: 10px;
    border-radius: 10px;
    font-weight: bolder;
    background-color: black;
    border-color: white;
    color: white;
    max-width: 312.891px; /*Current width*/
    letter-spacing: 12px;
}

.row button{ 
    flex: 1 1 0;
    font-family: 'terminalmedium';
    font-size: larger;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    background-color: rgb(254,117,254);
}

button:active{
    background-color: rgb(246, 189, 246);
}

.calculator .row .clear{
    background-color: rgb(255,18,79);
}

.calculator .row .clear:active{
    background-color: rgb(240, 168, 186);
}

.calculator .row .equals{
    background-color: rgb(255,18,79);
}

.calculator .row .equals:active{
    background-color: rgb(240, 168, 186);
}


.row .equals{
    flex: 2.3 1 0;
}
#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

/*Can't figure out this animation from https://www.youtube.com/watch?v=9CCkp_El1So*/
/*
.display .inner-display:hover:before,
.display .inner-display:hover:after {
  content: '0';
  
  position: relative;
  top: 0px;
  left: 0px;
  
}
.display .inner-display:hover:before{
  z-index: -2;
  color: red;
  animation: glitch 0.3s linear 6;
}
.display .inner-display:hover:after{
  z-index: -2;
  color: blue;
  animation: glitch 0.3s linear 6 reverse;
}
@keyframes glitch {
  0% {
    top: 0; 
    left: 0;
  }
  
  20% {
    top: -5px; 
    left: -5px;
  }

  40% {
    top: 5px; 
    left: 5px;
  }

  60% {
    top: -5px; 
    left: 5px;
  }

  80% {
    top: 5px; 
    left: -5px;
  }

  100% {
    top: 0; 
    left: 0;
  }
}
*/